@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
  margin:0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color: #fff;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 5px #fff;
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  width: 42%;
  display: flex;
  justify-content: space-between;
}
